/***** tienda.html *****/

.card img {
    width: 100%;
}

.carousel-item h5 {
    font-family: "Petit Formal Script", cursive;
}

.text-center {
    font-family: "Petit Formal Script", cursive;
    text-decoration: underline;
}